body {
    background-color: #fce4ec; /* Màu hồng nhạt */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d81b60; /* Màu hồng đậm */
}

.love-button {
    display: inline-block;
    background-color: #e91e63; /* Màu hồng đậm */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.love-button:hover {
    background-color: #c2185b; /* Màu hồng đậm - khi di chuột vào */
}

.heart {
    color: #e91e63; /* Màu hồng đậm */
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
